nav {
    position: absolute;
    right: 15rem;
    top: -1rem;

    ul {
        list-style: none;

        li {
            float: left;

            a {
                display: block;
                padding: 8px;
            }
        }
    }
}
