*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

fieldset {
    legend {
        width: auto;
    }
    div {
        display: flex;  
        margin: 3rem;  
        margin-left: 2rem;
    }
    span {
        display: flex;  
        margin: 3rem;  
        margin-left: 2rem;
    }
    label {
        width: 19rem;
    }
    input, textarea {
        width: 30%;
    }
    #comments {
        height: 8rem;
    }
    input[type="radio"] {
        width: 25%;
        vertical-align: baseline;
    }
}

table {
    width: 100%;
    margin-left: .5rem;
    caption {
        margin-bottom: 1rem;
    }
    th, td {
        border: 1px solid $color-black;
        text-align: center;
        img {
            width: 1.5rem;
            margin-right: 1rem;
        }
    }
    th {
        background-color: $color-grey;
    }
    td {
        background-color: $color-primary-light;
    }
}