.u-text-center {
    text-align: center;
}

.u-margin-top-1 {
    margin-top: 1rem;
}

.u-margin-top-4 {
    margin-top: 4rem;
}

.u-margin-bottom-15 {
    margin-bottom: 15rem;
}

.u-margin-bottom-8 {
    margin-bottom: 8rem;
}

.u-margin-bottom-4 {
    margin-bottom: 4rem;
}

.u-margin-bottom-2 {
    margin-bottom: 2rem;
}

.u-margin-right-2 {
    margin-right: 2rem;
}

.u-margin-right-20 {
    margin-right: 20rem;
}

.u-margin-left-20 {
    margin-left: 20rem;
}

.display-flex {
    display: flex;
}

.container {
    width: 85%;
    margin: 0 auto;
}