// CSS for about page
.about__details {
    p {
        margin-right: 2rem;
    }
    &__left {
        float: left;
    }
    &__right {
        float: right;
        margin-right: 8rem;
        margin-top: 2rem;
    }
    &__avatar {
        width: 20rem;
        height: 17rem;
        border:4px double $color-primary; 
        padding:2px; 
        background: $color-grey; 
    }
    a {
        color: $color-primary;
    }
    th{
        border: none;
    }
    th {
        width: 30%;
    }
    td {
        width: 70%;
    }
    .fas {
        color: $color-black-light;
        margin-right: 2rem;
    }
}

.breadcrumb {
    display: flex;
    justify-content: center;

    a {
        color: $color-black-light;
        margin-right: 1rem;
        &:last-child{
            margin-right: 0;
        }
    }
    
}

.reflextion {
    margin: 2rem;
}

