// CSS for enhancements page
.grid-test {
    div[class^="col-"] {
        background-color: $color-blue;
    }
}

.animation {
    width: 25rem;
}

.fetching {
    width: 50rem;
}

.binding {
    margin-top: 5rem;
    width: 50rem;
}

.json {
    margin-top: 5rem;
    width: 50rem;
}