.section {
    &__enquire {
        margin: 0 auto;
        margin-top: 20vh;
        max-width: 70%;
    &__select {
        align-items: center;
        }
    }
}

fieldset {
    span {
        display: flex;  
        margin: 3rem;  
        margin-left: 2rem;
    }
    label {
        width: 15%;
    }
    input, textarea {
        width: 30%;
    }
    #comments {
        height: 8rem;
    }
    input[type="radio"] {
        margin-right: -1rem;
        width: 25%;
        vertical-align: baseline;
    }
}


