// CSS for enquire page
.section {
    &__enquire {
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 70%;
        
        &__select {
            align-items: center;
            }
    }
}




