.article {
    background-color: $color-grey;

    &__top {
        height: 65vh;
        position: relative;
        background-image: url(images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);

        &__heading-primary {
            top: 40%;
            @include blockcenter;
        }
    }

    &__item {
        height: 40rem;
        max-width: 98rem;
        margin: 0 auto;
        padding: 8rem 0;

        &__title {
            @include blockcenter;
        }

        &__box {
            display: flex;
            margin-top: 7rem;
        }
    }
}

.fas {
    color: $color-primary-light;
    margin-bottom: 2rem;
}