.article {
    background-color: $color-grey;

    &__top {
        height: 80vh;
        position: relative;
        background-image: url(images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

        &__heading-primary {
            top: 55%;
            @include blockcenter;
        }
    }

    &__item {
        max-width: 98rem;
        margin: 0 auto;
        padding-top: 8rem;

        ul {
            margin-top: 50px;
            list-style: none;
            li {
                margin-bottom: 2rem;
            }
            li:last-child {
                margin-bottom: 6rem;
            }
            li::before {
                content: "•"; 
                color: $color-blue;
            }
        }

        &__title {
            @include blockcenter;
        }
        
        &__box {
            display: flex;
            padding-left: 3rem;
            padding-right: 3rem;
            margin-top: 7rem;
            .fas {
                color: $color-primary-light;
                margin-bottom: 2rem;
            }
        }
    }
}



